@import "tailwindcss";

:root {
  --background: #121212; /* Negro oficial de Spotify */
  --foreground: #ffffff;
  --spotify-green: #1db954;
}

@theme {
  /* Registramos los colores para poder usarlos como clases de Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-spotify-green: var(--spotify-green);
  
  /* Fuentes */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;

  /* Animaciones personalizadas para la Ruleta */
  --transform-rotate-1080: 1080deg;
}

/* Quitamos el media query de prefiere-color-scheme para forzar el modo oscuro de Spotify */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}